<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>186112102433-577666p4rnl6urdc166vc3g8f0icha35.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.186112102433-577666p4rnl6urdc166vc3g8f0icha35</string>
	<key>API_KEY</key>
	<string>AIzaSyDcCEx9n4I1KiDp3Ow6fsZTJW-nX926r4U</string>
	<key>GCM_SENDER_ID</key>
	<string>186112102433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kh.ics.group</string>
	<key>PROJECT_ID</key>
	<string>ics-group-9fa15</string>
	<key>STORAGE_BUCKET</key>
	<string>ics-group-9fa15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:186112102433:ios:09e194175c059ed4b45360</string>
</dict>
</plist>